<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData" >
  <div class="upper-data">
    <img src="../assets/hot.jpg" alt="hot" *ngIf="weatherData.current.temp_f >= 67">
    <img src="../assets/cold.png" alt="cold" *ngIf="weatherData.current.temp_f < 67">
    <div class="weather-data">
      <div class="location">{{weatherData.location.name}}, {{weatherData.location.region}}</div>
      <div class="temperature">{{ weatherData.current.temp_f | number: '1.0-0' }}°F</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/mintemp.png" alt="min temp">
          <span>Real Feel</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.feelslike_f | number: '1.0-0' }}°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/maxtemp.jpg" alt="min temp">
          <span>Visibility</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.vis_miles | number: '1.0-0' }} miles
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="min temp">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.humidity  }}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="min temp">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.wind_mph }} mph
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->